.avtar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid black;
}

.one,
.two,
.three {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 60px;
}



.four,
.five {
  margin-left: 20px;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;

}

.input {
  width: 260px;
  height: 42px;
  /* border: 2px solid black; */
  margin-top: 6px;
  border-radius: 25px;
  margin-left: 80px;

}


@media (max-width: 600px) {
  .hidden-xs {
    display: none;
  }
}

.box1 {
  /* border: 2px solid black; */
  height: 125px;
  margin-top: -17px;
  padding: 10px;
  margin-right: 20px;

}


.box2 {
  /* border: 2px solid black; */
  height: 125px;
  margin-top: 20px;
  margin-bottom: 22px;
  padding: 10px;
  margin-right: 20px;

}

.box3 {
  /* border: 2px solid black; */
  height: 125px;
  margin-top: 20px;
  margin-bottom: 22px;
  padding: 10px;
  margin-right: 20px;

}

.box4 {
  /* border: 2px solid black; */
  height: 125px;
  margin-top: 25px;
  padding: 10px;
  margin-right: 20px;
}




.boxone {
  /* border: 2px solid black; */
  height: 80px;
  margin: 10px;
  padding: 5px;
}

.button {
  /* border: 2px solid blue; */
  width: auto;
  padding: 6px;
}

.boxtwo {
  height: 105px;
  margin: 10px;
  padding: 5px;

}
.boxsss {
  /* border: 2px solid black; */
  margin: 10px;
}

.boxthree {
  /* border: 2px solid black; */
  height: 227px;
  margin: 10px;
  padding: 5px;

}

.boxfour {
  /* border: 2px solid black; */
  height: 85px;
  margin: 10px;
  padding: 5px;

}

.col {
  color: white;
}

